In [55]:
import pandas as pd
soccer = pd.read_csv("soccer18-19.csv")
print(soccer.shape)
soccer.head(10)

(100, 23)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,10/8/18,Man United,Leicester,2,1,H,1,0,H,...,6,4,11,8,2,5,2,1,0,0
1,E0,11/8/18,Bournemouth,Cardiff,2,0,H,1,0,H,...,4,1,11,9,7,4,1,1,0,0
2,E0,11/8/18,Fulham,Crystal Palace,0,2,A,0,1,A,...,6,9,9,11,5,5,1,2,0,0
3,E0,11/8/18,Huddersfield,Chelsea,0,3,A,0,2,A,...,1,4,9,8,2,5,2,1,0,0
4,E0,11/8/18,Newcastle,Tottenham,1,2,A,1,2,A,...,2,5,11,12,3,5,2,2,0,0
5,E0,11/8/18,Watford,Brighton,2,0,H,1,0,H,...,5,0,10,16,8,2,2,2,0,0
6,E0,11/8/18,Wolves,Everton,2,2,D,1,1,D,...,4,5,8,7,3,6,0,1,0,1
7,E0,12/8/18,Arsenal,Man City,0,2,A,0,1,A,...,3,8,11,14,2,9,2,2,0,0
8,E0,12/8/18,Liverpool,West Ham,4,0,H,2,0,H,...,8,2,14,9,5,4,1,2,0,0
9,E0,12/8/18,Southampton,Burnley,0,0,D,0,0,D,...,3,6,10,9,8,5,0,1,0,0

In [108]:
def TeamFouls(self):
    TeamFouls = {}
    for index, row in self.iterrows(): # iterate the rows, and add each team name in the dict
        for i in ['HomeTeam', 'AwayTeam']:
            if row[i] not in TeamFouls:
                TeamFouls.update({row[i]:[0]})
    
    for index, row in self.iterrows(): #iterate the rows
        TeamName = row['HomeTeam']
        TeamFouls[TeamName][0] += row['HF'] # add home fouls
    
        TeamName = row['AwayTeam']
        TeamFouls[TeamName][0] += row['AF'] # add away fouls
    print(TeamFouls)
    #print(list([i[0],i[1]]) for i in TeamFouls.items())
    return pd.DataFrame.from_dict(TeamFouls)

In [109]:
A = TeamFouls(soccer)
A

{'Man United': [124], 'Leicester': [105], 'Bournemouth': [90], 'Cardiff': [102], 'Fulham': [113], 'Crystal Palace': [114], 'Huddersfield': [112], 'Chelsea': [92], 'Newcastle': [124], 'Tottenham': [117], 'Watford': [120], 'Brighton': [136], 'Wolves': [122], 'Everton': [114], 'Arsenal': [127], 'Man City': [85], 'Liverpool': [101], 'West Ham': [102], 'Southampton': [118], 'Burnley': [100]}

,Man United,Leicester,Bournemouth,Cardiff,Fulham,Crystal Palace,Huddersfield,Chelsea,Newcastle,Tottenham,Watford,Brighton,Wolves,Everton,Arsenal,Man City,Liverpool,West Ham,Southampton,Burnley
0,124,105,90,102,113,114,112,92,124,117,120,136,122,114,127,85,101,102,118,100

In [102]:
print(list([i[0],i[1]]) for i in A.items())

<generator object <genexpr> at 0x0000017F28026B90>

In [29]:
len(TeamFouls)

20